* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

header {
  height: 100vh;
  width: 100%;
  background-color: #BBE4DC;
  position: fixed;
  top: 0;
  left: 0;
  overflow-x: hidden;
  font-family: 'Oswald', sans-serif;
  z-index: 1;
}

main {
  height: 100vh;
  background-color: #f5f5f5;
  margin-top: 100vh;
  position: relative;
  font-family: 'Oswald', sans-serif;
  z-index: 2;
}

header img {
  position: absolute;
  bottom: 0;
  height: 68%;
  right: -15%;
}

header hgroup {
  position: absolute;
  top: 12%;
  left: 8%;
  text-transform: uppercase;
  z-index: 1;
  color:#13595e;
}

header hgroup h1 {
  font-size: 5.6rem;
}

header hgroup h3 {
  font-size: 2.6rem;
  font-weight: 200;
}

#arrow {
  width: 64px;
  height: 64px;
  border: 3px solid black;
  position: absolute;
  bottom: 7%;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 50%;
  font-size: 5rem;
  text-align: center;
  text-shadow: 0 -15px 0 black, 0 -30px 0 black;
  overflow: hidden;
  transition: 1s ease;
}

#arrow:hover {
  text-shadow: 0 -15px 0 white, 0 -30px 0 white;
  color: white;
  border-color: white;
  background-color: black;
  cursor: pointer;
}

.fa-angle-down {
  animation: arrow 1.4s infinite linear;
}

main h1{
/*  position: absolute;
  font-size: 3.6rem;
  top: 12%;
  text-transform: uppercase;
  left: 50%;
  transform: translateX(-50%);*/
  font-size: 4.6rem;
  text-transform: uppercase;
  text-align: center;
  top: 12%;
  margin: 30px 0 50px;
  color: #648899;
  font-weight: 400;
}

.gallery {
  margin: 10px 50px;
}

.gallery img {
  width: 230px;
  padding: 5px;
  filter: grayscale(100%);
  transition: 1s;
}

.gallery img:hover{
  filter:grayscale(0%);
  transform: scale(1.1);
}

@media (orientation: portrait) {
  h3 span::after {
    content: '\A';
    white-space: pre;
  }
}

@media (orientation: landscape) {
  header img {
    height: 65%;
    right: 0;
  }
}

@media (min-width: 530px) and (orientation:portrait){
    header img{
    height: 55%;
    right: 0;
  }
  header h1{
    font-size: 50px;
  }
  header h3{
    font-size: 22px;
  }
  header hgroup{
    top: 8%;
  }

}

@media (min-width: 768px) and (orientation:portrait){
  header img{
    height: 65%;
    right: 0;
  }
  header h1{
    font-size: 75px;
  }
  header h3{
    font-size: 40px;
  }
  header hgroup{
    top: 8%;
  }
}

@media (min-width: 1024px) {
    header img{
    height: 95%;
    right: 10%;
  }
  header h1{
    font-size: 85px;
  }
  header h3{
    font-size: 45px;
  }
  header hgroup{
    top: 10%;
  }
  #arrow{
    width: 96px;
    height: 96px;
    font-size: 70px;
  }

}

@media (min-width: 1280px) {

}

@media (max-width: 320px) {
  header h3 {
    font-size: 2.4rem;
  }
  header hgroup {
    transform: rotate(-15deg);
  }
}

@keyframes arrow {
  0% {
    -webkit-transform: translateY(-80px);
    transform: translateY(-80px)
  }
  50% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px)
  }
  100% {
    -webkit-transform: translateY(80px);
    transform: translateY(80px)
  }
}
